include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        //- +image('content/user.jpg', 'user-pic')
        //- +icon('link', 'link-class')
        //- .icon-bg
        section.welcome-section
          .parallax-header
            .parallax-header__layer.parallax-header__layer--1
            .parallax-header__layer.parallax-header__layer--2
            .parallax-header__layer.parallax-header__layer--3
            .parallax-header__layer.parallax-header__layer--4
            .parallax-header__layer.parallax-header__layer--5
            .parallax-header__layer.parallax-header__layer--6
            .parallax-header__layer.parallax-header__layer--7
            //- .parallax-header__layer
            //-   img(src=require("images/parallax/header/parallax-header-7.png")).parallax-header__layer-image
          section.hero
            .container.hero__container
              header.header.hero__header
                .hero__logo
                  a.logo(href="")
                    h2.logo__title РУ
                .hero__menu
                  nav.nav
                    -  var nav = ["Главная","Обо мне", "Навыки","Работы","Отзывы","Связаться"];
                    ul.nav__list
                      each item in nav
                        li.nav__item
                          a(href="#").nav__link #{item}
                .hero__links
                  .socials
                    - var icons = ["insta", "vk", "github"]
                    ul.socials__list
                      each item in icons
                        li.socials__item
                          a.socials__link(href="")
                            +icon(item,"socials__icon")
                .burger-menu
                  a.burger-menu__button
                    span.burger-menu__line
                  nav.nav
                    -  var nav = ["Главная","Обо мне", "Навыки","Работы","Отзывы","Связаться"];
                    ul.nav__list
                      each item in nav
                        li.nav__item
                          a.nav__link #{item}
              .hero__content
                h2.hero__sitename
                  span.hero__sitename-row Личный сайт
                  span.hero__sitename-row веб-разработчика
                h1.hero__title 
                  span.hero__title-name Роман
                  span.hero__title-surname Усков
              .hero__buttons  
                a.hero__scroll-button 
                  span.hero__scroll-title Скролл
                  +icon("scroll","hero__scroll-img")
          section.about
            .container.about__container
              .user.about__user
                .user__avatar.avatar
                  +image("content/user.jpg","avatar__image")
                  - var user = [["Проживаю:", "Москва"],["Возраст:", "25 лет"],["Родился:", "31 января 1994"]]
                table.user__info
                  each item in user
                    tr.user__info-row
                      td.user__info-col #{item[0]}
                      td.user__info-col.user__info-col--white #{item[1]}
              .about__right
                .about__welcome
                  .about__welcome-text
                    p Привет, меня зовут
                  h2.about__title Роман Усков
                  .about__info
                    p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                  .about__ps
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво.
        section.value
          .triangles
            svg.triangles__item(viewbox="0 0 1400 130" preserveAspectRatio="none")
              polygon(points="0,0 0,130 1400,130")
            svg.triangles__item(viewbox="0 0 400 130" preserveAspectRatio="none")
              polygon(points="400,0 400,130 0,130")
          .container.value__container
            .value__info
              h2.section-title.section-title--black Чем я могу быть полезен Вам
              .value__info-text 
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво.
            .value__skills.skills
              #skills-component
        section.works
          .container.works__container
            h2.section-title Мои работы
            .works__content
              #slider-component
        section.ending-section
          section(@click="checkArrows", @touchend="checkArrows").reviews
            .container.reviews__container
              .reviews__top
                h2.section-title.section-title--white Что обо мне говорят
                .reviews__buttons
                  button(@click="previous" :disabled="true").direction-button.direction-button--next.direction-button--circled
                    +icon("arrow-down","direction-button__pic")
                  button(@click="next" :disabled="false").direction-button.direction-button--prev.direction-button--circled
                    +icon("arrow-down","direction-button__pic")
              .reviews__content
                flickity(ref="flickity" :options="flickityOptions").reviews__list
                  - for (var i = 0; i < 7; i++)
                    .reviews__item
                      .reviews__commentary 
                        p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                      .reviews__user.reviews-user
                        .reviews-user__avatar
                          .avatar
                            +image('users/dmitry.png','avatar__image')
                        .reviews-user__info
                          .reviews-user__name Ковальчук Дмитрий
                          .reviews-user__occupation Основатель LoftSchool
                  //- .reviews__item
                  //-   .reviews__commentary 
                  //-     p Этот код выдержит любые испытания. #[br] Только, пожалуйста, не загружайте его на слишком старых браузерах
                  //-   .reviews__user.reviews-user
                  //-     .reviews-user__avatar
                  //-       .avatar
                  //-         +image('users/vladimir.png','avatar__image')
                  //-     .reviews-user__info
                  //-       .reviews-user__name Сабанцев Владимир
                  //-       .reviews-user__occupation Преподаватель
          section.feedback
            .container.feedback__container
              h2.section-title.section-title--white Связаться со мной
              form.feedback__form(action="")
                .feedback__form-wrapper
                  .feedback__row
                    .feedback__block
                      label.feedback__label.feedback__label--user
                        .feedback__label-wrapper
                          span.feedback__title Введите Ваше имя
                          input.feedback__field 
                    .feedback__block
                      label.feedback__label.feedback__label--envelope
                        .feedback__label-wrapper
                          span.feedback__title Введите Ваш email
                          input.feedback__field 
                  .feedback__row.feedback__row--big-margin-bottom
                    .feedback__block
                      label.feedback__label.feedback__label--message
                        .feedback__label-wrapper
                          span.feedback__title Сообщение к письму
                          textarea.feedback__field.feedback__field--textarea 
                  .feedback__buttons
                    button.button Отправить
        footer.footer
          .container.footer__container
            .footer__left
              .footer__copyright
                p &copy2020
              .footer__developer
                .footer__developer-name Роман Усков
                .footer__developer-info Личный сайт веб-разработчика
            .footer__right
              .footer__menu
                nav.nav
                  -  var nav = ["Главная","Обо мне","Навыки","Работы","Отзывы","Связаться"];
                  ul.nav__list
                    each item in nav
                      li.nav__item
                        a.nav__link #{item}
              .footer__info
                .footer__links
                  .footer__links-desc
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
                  .socials
                    - var icons = ["insta", "vk", "github"]
                    ul.socials__list
                      each item in icons
                        li.socials__item
                          a.socials__link(href="")
                            +icon(item,"socials__icon")
                .footer__quote
                  .footer__quote-text
                    p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                  .footer__quote-author Martin Golding

    include ./templates/entry.pug