include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        //- +image('content/user.jpg', 'user-pic')
        //- +icon('link', 'link-class')
        //- .icon-bg
        section.welcome-section
          section.hero
            .container.hero__container
              header.header.hero__header
                .hero__logo
                  a.logo(href="")
                    h2.logo__title РУ
                .hero__menu
                  nav.nav
                    -  var nav = ["Главная","Обо мне", "Навыки","Работы","Отзывы","Связаться"];
                    ul.nav__list
                      each item in nav
                        li.nav__item
                          a.nav__link #{item}
                .hero__links
                  .socials
                    - var icons = ["insta", "vk", "github"]
                    ul.socials__list
                      each item in icons
                        li.socials__item
                          a.socials__link(href="")
                            +icon(item,"socials__icon")
                .burger-menu
                  a.burger-menu__button
                    span.burger-menu__line
                  nav.nav
                    -  var nav = ["Главная","Обо мне", "Навыки","Работы","Отзывы","Связаться"];
                    ul.nav__list
                      each item in nav
                        li.nav__item
                          a.nav__link #{item}
              .hero__content
                h2.hero__sitename
                  span.hero__sitename-row Личный сайт
                  span.hero__sitename-row веб-разработчика
                h1.hero__title 
                  span.hero__title-name Роман
                  span.hero__title-surname Усков
              .hero__buttons  
                a.hero__scroll-button 
                  span.hero__scroll-title Скролл
                  +icon("scroll","hero__scroll-img")
          section.about
            .container.about__container
              .user.about__user
                .user__avatar.avatar
                  +image("content/user.jpg","avatar__image")
                  - var user = [["Проживаю:", "Москва"],["Возраст:", "25 лет"],["Родился:", "31 января 1994"]]
                table.user__info
                  each item in user
                    tr.user__info-row
                      td.user__info-col #{item[0]}
                      td.user__info-col.user__info-col--white #{item[1]}
              .about__right
                .about__welcome
                  .about__welcome-text
                    p Привет, меня зовут
                  h2.about__title Роман Усков
                  .about__info
                    p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                  .about__ps
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво.
        section.value
          .triangles
            svg.triangles__item(viewbox="0 0 1400 130" preserveAspectRatio="none")
              polygon(points="0,0 0,130 1400,130")
            svg.triangles__item(viewbox="0 0 400 130" preserveAspectRatio="none")
              polygon(points="400,0 400,130 0,130")
          .container.value__container
            .value__info
              h2.section-title.section-title--black Чем я могу быть полезен Вам
              .value__info-text 
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво.
            .value__skills.skills
              - 
                var skills = [
                  ['Front-end', [
                    ['HTML5','-25s'],
                    [ 'CSS3','-13s'],
                    ['Javascript','-75s'],
                    ['Jquery и Vue.js','-30s'] ]
                  ],
                  ['Workflow', [
                      ['Git','-13s'],
                      ['Terminal','-25s'],
                      ['Gulp','-50s'],
                      ['Webpack','-40s'] ]
                  ]
                ]
              ul.skills__list
                each item in skills
                  li.skills__row.skills-row
                    h3.skills-row__title #{item[0]}
                    ul.skills-row__list
                      each skill in item[1]
                        li.skills-row__item
                          .skill
                            svg.skill__circle(viewbox="0 0 200 200" preserveAspectRatio="none")
                              defs.defs
                                linearGradient(x1="0%", y1="50%", x2="100%" y2="100%")#skill__circle-gradient
                                  stop(offset="60%", stop-color="#005bed").skill__circle-fill--start
                                  stop(offset="100%", stop-color="#007ef1").skill__circle-fill--end
                              circle(r="67" cx="100" cy="100").skill__circle.skill__circle--under
                              circle(r="67" cx="100" cy="100" stroke="url(#skill__circle-gradient)" transform="rotate(-180 100 100)" style=`animation-delay: ${skill[1]};`).skill__circle.skill__circle--above
                            .skill__title #{skill[0]}
        section.works
          .container.works__container
            h2.section-title Мои работы
            .works__content
              .works__slider
                .slider
                  .slider__display
                    +image("content/slider/preview-1.png","slider-display__pic")
                    .slider__display-thumbs
                      ul.slider-thumbs
                        - for (var i = 0; i < 3; i++)
                          li.slider-thumbs__item(class=`${i === 0 ? 'slider-thumbs__item--active' : ''}`)
                            a.slider-thumbs__link(href="")
                              +image("content/slider/preview-1.png","slider-thumbs__image ")
                      .slider__buttons
                        a.direction-button.direction-button--prev 
                          +icon("arrow-down","direction-button__pic")
                        a.direction-button.direction-button--next
                          +icon("arrow-down","direction-button__pic")
                  .slider__info
                    .slider__tags
                      - var tags = ["HTML", "CSS", "Javascript"]
                      ul.tags
                        each item in tags
                          li.tags__item #{item}
                    .slider__desc
                      h3.slider__desc-title Сайт школы образования
                      .slider__desc-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых  испытаний и бессонных ночей!
                    .slider__info-buttons
                      a.iconed-link 
                        +icon("link", "iconed-link__pic")
                        span.iconed-link__text Посмотреть сайт
        section.ending-section
          section.reviews
            .container.reviews__container
              .reviews__top
                h2.section-title.section-title--white Что обо мне говорят
                .reviews__buttons
                  a.direction-button.direction-button--next.direction-button--circled
                    +icon("arrow-down","direction-button__pic")
                  a.direction-button.direction-button--prev.direction-button--circled
                    +icon("arrow-down","direction-button__pic")
              .reviews__content
                ul.reviews__list
                  li.reviews__item
                    .reviews__commentary 
                      p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                    .reviews__user.reviews-user
                      .reviews-user__avatar
                        .avatar
                          +image('users/dmitry.png','avatar__image')
                      .reviews-user__info
                        .reviews-user__name Ковальчук Дмитрий
                        .reviews-user__occupation Основатель LoftSchool
                  li.reviews__item
                    .reviews__commentary 
                      p Этот код выдержит любые испытания. #[br] Только, пожалуйста, не загружайте его на слишком старых браузерах
                    .reviews__user.reviews-user
                      .reviews-user__avatar
                        .avatar
                          +image('users/vladimir.png','avatar__image')
                      .reviews-user__info
                        .reviews-user__name Сабанцев Владимир
                        .reviews-user__occupation Преподаватель
          section.feedback
            .container.feedback__container
              h2.section-title.section-title--white Связаться со мной
              form.feedback__form(action="")
                .feedback__form-wrapper
                  .feedback__row
                    .feedback__block
                      label.feedback__label.feedback__label--user
                        .feedback__label-wrapper
                          span.feedback__title Введите Ваше имя
                          input.feedback__field 
                    .feedback__block
                      label.feedback__label.feedback__label--envelope
                        .feedback__label-wrapper
                          span.feedback__title Введите Ваш email
                          input.feedback__field 
                  .feedback__row.feedback__row--big-margin-bottom
                    .feedback__block
                      label.feedback__label.feedback__label--message
                        .feedback__label-wrapper
                          span.feedback__title Сообщение к письму
                          textarea.feedback__field.feedback__field--textarea 
                  //- .feedback__row
                  //-   .feedback__block
                  //-     label.feedback__label.feedback__label--user 
                  //-       span.feedback__title Введите Ваше имя
                  //-       input.feedback__input
                  //-   .feedback__block
                  //-     label.feedback__label.feedback__label--envelope
                  //-       span.feedback__title Введите Ваш email
                  //-       input.feedback__input
                  //- .feedback__row
                  //-   .feedback__block
                  //-     label.feedback__label.feedback__label--email
                  //-       span.feedback__title Сообщение к письму
                  //-       textarea.feedback__input.feedback__input--textarea
                  .feedback__buttons
                    button.button Отправить
        footer.footer
          .container.footer__container
            .footer__left
              .footer__copyright
                p &copy2020
              .footer__developer
                .footer__developer-name Роман Усков
                .footer__developer-info Личный сайт #[br] веб-разработчика
            .footer__right
              .footer__menu
                nav.nav
                  -  var nav = ["Главная","Обо мне","Навыки","Работы","Отзывы","Связаться"];
                  ul.nav__list
                    each item in nav
                      li.nav__item
                        a.nav__link #{item}
              .footer__info
                .footer__links
                  .footer__links-desc
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
                  .socials
                    - var icons = ["insta", "vk", "github"]
                    ul.socials__list
                      each item in icons
                        li.socials__item
                          a.socials__link(href="")
                            +icon(item,"socials__icon")
                .footer__quote
                  .footer__quote-text
                    p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                  .footer__quote-author Martin Golding